@page
@model CatCentral.Pages.Grooming.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Grooming</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Groom.GallerysID" class="control-label">Name</label>
                <select asp-for="Groom.GallerysID" class="form-control" asp-items="ViewBag.GallerysID">
                </select>
                <span asp-validation-for="Groom.GallerysID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groom.Owner" class="control-label"></label>
                <input asp-for="Groom.Owner" class="form-control" />
                <span asp-validation-for="Groom.Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groom.Description" class="control-label"></label>
                <input asp-for="Groom.Description" class="form-control" />
                <span asp-validation-for="Groom.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groom.FoodID" class="control-label">Food</label>
                <select asp-for="Groom.FoodID" class="form-control" asp-items="ViewBag.FoodID">
                </select>
                <span asp-validation-for="Groom.FoodID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groom.Supplies" class="control-label"></label>
                <input asp-for="Groom.Supplies" class="form-control" />
                <span asp-validation-for="Groom.Supplies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groom.ToyID" class="control-label">Toys</label>
                <select asp-for="Groom.ToyID" class="form-control" asp-items="ViewBag.ToyID">
                </select>
                <span asp-validation-for="Groom.ToyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groom.Price" class="control-label"></label>
                <input asp-for="Groom.Price" class="form-control" />
                <span asp-validation-for="Groom.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groom.Date" class="control-label"></label>
                <input asp-for="Groom.Date" class="form-control" />
                <span asp-validation-for="Groom.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
<style>
    body {
        background-image: url('/Images/catwet3.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
        font-family: 'Comic Sans MS', cursive;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
